@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html {
    font-family: 'Lexend Deca', sans-serif;
    color: #FFFF;
    margin: 0;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 740px;
    padding: 100px 20vw;
}

.Stian-Wiu {
    font-size: 300%;
    margin-bottom: 10px;
    color: #FFFF;
}

.Pignuuu {
    margin-top: 0;
    color: #ffffff9d;
    text-align: center;
    font-size: 200%;
}



a {
    color: inherit;
}

/* Color classes */

.white {
    background: #FFFF;
}

.yellow {
    background: #F8E9A1;
}

.orange {
    background: #F76C6C;
}

.section1 {
    background: #2127B3;
}

.section2 {
    background: #8084FF;
}

.section3 {
    background: #24305E;
}

/* Background waves */

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.wave .shape-fill {
    fill: #5e64fa;
}

.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.wave2 .shape-fill {
    fill: #5e64fa;
}

.wave3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 22px;
}

.wave3 .shape-fill {
    fill: #5e64fa;
}

.tilt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.tilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.tilt .shape-fill {
    fill: #5e64fa;
}

.tilt-title {
    transform: rotate(5deg);
}