@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body {
    background-color: #121212e8;
}

h3 {
    font-family: 'Lexend Deca', sans-serif;
    color: #FFFF;
}

.Stian-Wiu {
    margin-top: 10%;
    bottom: 400px;
    text-align: center;
    font-size: 300%;
    margin-bottom: 0px;
}

.Pignuuu {
    color: #8C8C8C;
    text-align: center;
    margin-top: 0px;
    font-size: 200%;
}

.box {
    margin: auto;
    width: 85%;
}

.Description {
    margin: auto;
    background-color: #202020;
    border-radius: 25px;
    width: 100%;
    max-width: 700px;
    height: 70%;
}

.Description-text {
    padding: 23px;
    size: 100%;
    font-family: 'Roboto Mono', monospace;
}

.discord-img {
    width: 30px;
}

.socials {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.Projects-Button {
    color: #e24b37;
    text-align: center;
    font-size: 190%;
}

.toggle-projects-button {
    border-radius: 25px;
    cursor: pointer;
    border: 5px solid #e24b37;
    padding: 10px;
}

.toggle-projects-button:hover {
    background-color: #3d3d3de8;
}

.center {
    text-align: center;
    margin-bottom: 0;
    font-size: 175%;
}

a {
    color: inherit;
}